/*for layout*/
header, nav {
	  font: 400 14px/28px "Cairo", sans-serif;

  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
.mobile_head{
	height:auto;padding:3px;font-size:16px; font-weight:bold;margin-right:0px;border-top:20px solid #8A1538
}
.web_head{
	height:auto !important;font-size:16px !important; font-weight:bold !important;margin-right:0px !important;border-top:20px solid #8A1538 !important;margin-bottom:20px !important;
}
.nv_custom{background-color: #8a1538;margin-top: 13px;color: #fff;}
.disable-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
}
[canvas=container],
[off-canvas] {
    padding: 0px;
	direction:rtl
}

[class*=js-] {
    cursor: pointer;
}


._fade {
    opacity: 0;
    transition: opacity 0.15s linear 0s;
}
.thead {
   

    font-size: 12px;
    height: 37px;
    position: relative;
    width: 100%;
    padding:2px;
}

.tfooter {
        background-color: #225568;
    color: #fff8f8;
    border-top: 2px solid #8d8d8d;
    font-size: 25px;
    height: 60px;
    position: relative;
    width: 100%;
}

.navbar-nav > li > a {padding-top:9px !important; padding-bottom:9px !important;}
.navbar {min-height:32px !important}

button.accordion {
    background-color: #225568;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.link_accordion {
    background-color: #225568;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    font-size: 15px;

}
.link_accordion a{
    color: #fff;

}


button.accordion.active, button.accordion:hover {
    background-color: #05394c;
}

button.accordion:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: left;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

.side_panel {
    padding: 0 18px;
    background-color: #0a3240;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin:1px;
}

    .side_panel a {
        color: #eee;
    }
.s_b_lnk {
    color: #eee;
    border-bottom: 1px solid #35383D;
    padding:15px;
    margin-right:10px;
    font-size:14px;
}
.cart-number {
    background-color: #e62e04;
    border-radius: 8px;
    color: #fff;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    min-width: 25px;
    text-align: center;
    padding: 0 5px;
}
@media (pointer: coarse)  {
#intro{display:none}
	/* mobile device */
	.hide_mobile{display:none;}
	.show_mobile{display:block;}

	.important-links{display:none;}
	.dt_footer{display:none;}
	.show_mb_header{display:block;}
	.show_mb_footer{display:block;}
	.show_dt_header{display:none;}
	.show_dt_footer{display:none;}
	#content {
            max-height: calc(100% - 180px);
            overflow-y: auto;
            margin-top: 90px !important;
        }
		html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
			background:!important #F2F2F2;
        }

        header {
            width: 100%;
            height: 60px;
            position: absolute;
            top: 0;
        }

        footer {
            width: 100%;
            height: auto;
            position: fixed;
            bottom: 0;
        }
}

@media (pointer: fine), (pointer: none) {
	/* desktop */
	.hide_web{display:none;}
	.show_web{display:block;}
	.dt_footer{
	    background: url('../images/skyline.png') #360714;
		background-repeat: no-repeat;
		background-position: bottom center;
		min-height: 175px;
		color:#fff;
		text-align:center;
	}
	.show_mb_header{display:none;}
	.show_mb_footer{display:none;}
	.show_dt_header{display:block;}
	.show_dt_footer{display:block;}
}

@media (pointer: fine) and (any-pointer: coarse) {
	.hide_web{display:none;}
	.show_web{display:block;}
	/* touch desktop */
	.show_mb_header{display:none;}
	.show_mb_footer{display:none;}
	.show_dt_header{display:block;}
	.show_dt_footer{display:block;}
}
 #content_fade {
            top: 90px;
			height: calc(100% - 174px);
            width:100%;
            overflow-y: auto;
            padding: 0px 15px !important;
            margin-top: 0px !important;
            position:absolute;
            z-index:300000;
            background-color:#000;
            opacity:0.7;
            display:none;
        }

.logoSelector {
    content: url("/asset//images/new_logo.png");
    max-height: 75px
}
