
.form-control
{padding: 0.75rem 0.75rem 0.75rem 2.25rem;}
.form-select
{
   padding: 0.75rem 0.75rem 0.75rem 2.25rem;
   background-size: 1rem;
}

@media (min-width: 1200px) {
        .header .nav-header {
        padding-left: 15px;
        padding-right: 5px;
    }
    .navmenu a i, .navmenu a:focus i {
        margin-right: 5px;
    }
        .navmenu .dropdown ul {
        left: auto;
    }
}

.services .vertical-nav .nav-pills .nav-link{
    text-align: right;
}
