.btns-group > .btn:not(:first-child) {
  margin-right: 10px;
}
.services .service-card .icon{
  right: 0;
  left: auto;
  
  border-radius: 0px 10px 0px 10px;
}
.services .service-card .read-more i.bi-arrow-right::before {
  content: "\f12f";
}
.testimonials .testimonial-item .quote::before{
  content: "\f10e";
}

.stats .imp-date {
  transform: rotate(270deg) translate(-42px, 43px);
  right: 0;
  left: auto;
}

@media (max-width: 1200px) {
  .stats .imp-date {
      transform: rotate(270deg) translate(-42px, 461px);
      width: 100%;
      top: 5px;
      right: 0;
      left: 0;
  }
}
@media (max-width: 992px) {
  .stats .imp-date {
      transform: none;
      background-color: transparent;
      position: relative;
      font-size: 1.5rem;
      margin-bottom: 30px;
  }
}
@media (max-width: 1199px) {
  .mobile-nav-active .mobile-nav-toggle {
    left: 0;
    right: auto;
  }
.hero  .shape-1{
  right:  45px;
  left: auto;
}
.hero .shape-2{
  right: 45px;
  left: auto;
}
.hero .shape-3{
  left: 100px;
  right: auto;
}
.hero .customers-badge .shape-4{
  left: -30px;
}