.app-card {
    box-shadow: none;
    border-color: #f0f3f8;
}
/* Scrollable wrapper */
.tabulator-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
    border: 1px solid #ccc;
}

.tabulator {
    border-collapse: unset;
    border-radius: 0.4375rem;
    border-spacing: unset;
    overflow: unset;
    background-color: transparent;
    color: #75868f;
    font-size: .75rem;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    text-align: left;
    transform: translatez(0);
    width: 100%;
    box-shadow: 0px 0rem 1rem 0rem rgb(65 36 109 / 9%);
    border-color: #f0f3f8;
    min-width: 600px;
}

    .tabulator .sec-center {
        padding: 0;
        background-color: transparent
    }

    .tabulator .action-items > span {
        background-color: #3030301f;
        color: var(--accent-color);
        padding: 0;
        border-radius: .4375rem;
        width: 1.5rem !important;
        height: 1.5rem !important;
        /* line-height: 30px; */
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.95rem;
    }

    .tabulator .tabulator-row:not(:first-child) {
        border-top: 1px solid var(--bs-border-color);
    }

    .tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
        color: #373c43 !important
    }

    .tabulator .tabulator-header {
        border-bottom: 2px solid #373c43 !important;
    }

        .tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover {
            background: var(--surface-color) !important
        }

.tabulator-row.tabulator-row-odd,
.tabulator-row.tabulator-selectable:hover {
    background-color: #41246d1f !important;
}

.tabulator-row.tabulator-row-even {
    background-color: var(--surface-color) !important;
}

.tabulator .tabulator-header .tabulator-col {
    border-right: 0;
    padding: .45rem;
    font-size: .95rem;
    background-color: var(--surface-color)
}

.tabulator-row .tabulator-cell {
    border-right: 0;
    padding: .45rem;
    font-size: .95rem;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort=none] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow {
    border-top: none;
    border-bottom: 7px solid rgba(165, 177, 184, .3);
}

.tabulator .tabulator-row,
.tabulator .tabulator-cell,
.tabulator .tabulator-tableholder,
.tabulator .tabulator-col-resize-handle {
    height: auto !important;
    min-height: auto !important;
}
